


$primaryBackgroundColor:#838383;
$secondaryBackgroundColor:rgb(34,34,34);
$border-color:#a4a4a4;

@import "form-items.scss";


body{
background-color: $primaryBackgroundColor;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color:#e9e9e9;
}
.header{
  text-align: center;
  background-color: $secondaryBackgroundColor;
  border-radius: 3px;
  position: relative;
  top: -10px;
  .navbar{
    padding-bottom: 5px;
    a{
      text-decoration: none;
      font-weight: bolder;
      margin: 10px;
      color: inherit;
      text-shadow: 0 0 2px #3c7da6;
      border: 0px solid rgba(#fff,0);
      transition: all 400ms;
      border-radius:50%;
    }
    a.active{
      border-radius:2px;
      border-bottom: 3px solid rgba(#b395f2,1);
    }
    a:hover{
      color:white;
      text-shadow: 0 0 1px white;
    }
  }
}
.notification-box {
  .alert{
    background-color: #c60707;
  }
  .warning{
    background-color: #917600;
  }
  .info{
    background-color: #2981ca;
  }
  .success{
    background-color: #209e2e;;
  }
}

@import "posts.scss";
@import "loading.scss";
