
.posts-container{
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.posts{
  .posts-form{
    position: relative;
    padding: 10px;
    padding-bottom: 60px;
    button{
      position: absolute;
      right: 10px;
    }
  }
  background-color: $secondaryBackgroundColor;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 0;
  .post-task-bar{
    border-top: 1px solid $border-color;
    .posts-radius{
      max-width: 70px;
      padding: 3px;
    }
    .posts-refresh{
      float: right;
      margin: 10px 5px;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      padding: 0;
      border-top: 1px solid $border-color;
      .post-distance{
        margin: 5px;
        padding: 0 5px;
        text-align: right;
        color: #b9b9b9;
        float: right;

      }
      .post-time{
        color: #b9b9b9;
      }
      .post-title{
        margin: 0 0 16px 0;
        padding: 0 5px;
        text-align: left;
      }
      .post-text{
        padding: 0 5px;
        text-align: center;
      }
      .post-delete-button{
        width:75px;
        margin-left: 75%;
        margin-left: calc(100% - 80px);
      }
      .map-container{
        width: 100%;
        height: 300px;
        .map {
          width: 100%;
          height:100%;
        }
      }
    }
  }

}
