
.posts-container{
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.posts{
  .posts-form{
    position: relative;
    padding: 10px;
    padding-bottom: 60px;
    button{
      position: absolute;
      right: 10px;
    }
  }
  background-color: $secondaryBackgroundColor;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 0;
  .post-task-bar{

    .tasks{
      width: 100%;
      .task-item{
        display: inline-block;
        .posts-radius{
          max-width: 70px;
          padding: 3px;
        }
      }
    }
    .mode-toggle-button{
      display: block;
    }

    border-top: 1px solid $border-color;

  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      padding: 0;
      border-top: 1px solid $border-color;
      .post-distance{
        margin: 5px;
        padding: 0 5px;
        text-align: right;
        color: #b9b9b9;
        float: right;

      }
      .post-time{
        color: #b9b9b9;
      }
      .post-title{
        margin: 0 0 16px 0;
        padding: 0 5px;
        text-align: left;
      }
      .post-text{
        padding: 0 5px;
        text-align: center;
      }
      .post-delete-button{
        width: 75px;
        margin-left: 85%;
        margin-left: calc(100% - 75px);
        border-radius: 3px;
        margin-top: 0;
      }
      .post-delete-button:hover{
        margin-left: 84%;
        margin-left: calc(100% - 77px);
        width: 77px;

      }
      .map-container{
        width: 100%;
        height: 400px;
        .map {
          width: 100%;
          height:80%;
        }
      }
    }
  }

}
.big-map-container{
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: $secondaryBackgroundColor;
  border: 1px solid $border-color;
  border-radius: 10px;
  box-sizing: border-box;
  .big-map{
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 50%;
    min-height: 300px;

    .post-popup{
      .post-distance{
        margin: 5px;
        padding: 0 5px;
        text-align: right;
        color: #b9b9b9;
        float: right;

      }
      .post-time{
        color: #b9b9b9;
      }
      .post-title{
        margin: 0 0 16px 0;
        padding: 0 5px;
        text-align: left;
      }
      .post-text{
        padding: 0 5px;
        text-align: center;
      }
      .post-delete-button{
        width: 75px;
        margin-left: 85%;
        margin-left: calc(100% - 75px);
        border-radius: 3px;
        margin-top: 0;
      }
      .post-delete-button:hover{
        margin-left: 84%;
        margin-left: calc(100% - 77px);
        width: 77px;

      }
    }
  }
}
