<div class="header">
  <h1>Welcome to Lotwi!</h1>
  <h2>Location driven 'Twitter'</h2>
  <div class="navbar-container">
    <div class="navbar">
      {{#link-to 'posts'}}Posts{{/link-to}}
      {{#link-to 'locations'}}Locations{{/link-to}}
    </div>
  </div>
</div>

{{outlet}}
